

<h1>New product</h1>

    <%= form_for @product, url: {action: "create"}, class: "form-horizontal" do |f| %>
        <div class="form-group">
            <ul>
              <% @product.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>

            <%= f.label :title %><br />
            <%= f.text_field :title %>

            <%= f.label :description %>
            <%= f.text_area :description %>

            <%= f.submit "Product information", class: "btn btn-default" %>
        </div>
    <% end %>
</div>
<%= link_to 'Back', products_path %>

