<h2>Your Search on:</h2>

<div class="col-md-3">
  <% Product.conditions.keys.each do |condition| %>
      <label class="li"><%= check_box_tag :condition, condition %> <u><%= condition %></u></label><br />
  <% end %>
</div>
<div class="col-md-9">
  <% @products.each do |product| %>

    <h5><%= product.title %>:<%= product.id %></h5>
    <%= product.price %>

  <% end %>


</div>