<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= nav_bar static: :top, brand:  "Afooch - Shopping Never Was So Easy!", responsive: true, inverse: true do %>
          <%= menu_group pull: :right do %>
              <% if current_user %>
                 <% if current_user.avatar %>
                  <%= image_tag current_user.avatar.url(:thumb) %>
                 <% end %>
                  <%= menu_item "Log Out", destroy_user_session_path %>
              <% end %>
          <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-12">
            <%= yield %>
        </div>
      </div>
  </body>
</html>
