<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav class="top-bar" data-topbar role="navigation">
    <div class="small-10 small-centered columns">
       <ul class="title-area">
        <li class="name">
          <h1><a href="#">Afooch - Shopping never was easy!</a></h1>
        </li>
       </ul>
      <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <% if user_signed_in? %>
            <a class="th" href="<%= current_user.photo %>">
              <img src="<%= current_user.photo %>">
            </a>
        <% end %>
      </ul>
          </section>
    </div>
  </nav>
  <div class="row">
    <div class="large-12 columns">
    <%= yield %>
    </div>
  </div>
  </body>
</html>
